<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kite.analysis">
	<select id="selectRankCount" parameterType="Analysis" resultType="Analysis">
		select * from analysis_company where age=#{age} and gender=#{gender} order by count desc;
	</select>
</mapper>